@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); 
.App {
  text-align: center;
}

.App-header {
  background-color: #282b33;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #0ab0de;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }



}
 /*Buttons*/
 .btn:hover{
   border: none;
   text-align: center;
   transition-duration: 0.4s;
   cursor: pointer;
  
 }
  .logInBtn{
    border-radius: 12%;
    padding: 20px;
    background-color: white; 
    color: black; 
    border: 2px solid #E76F51;
    font-family: sans-serif; 
  }
  .logInBtn:hover {
    background-color: #E76F51;
    color: white;
  }

  .yourProfileBtn{
    border-radius: 12%;
    padding: 20px; 
    margin-right: 15px;
    border: 2px solid #E76F51;
  }

  .yourProfileBtn:hover {
    background-color: #F4A261;
    color: white;

  }

  .logOutBtn{
    border-radius: 12%;
    padding: 20px;
    margin-top: 20px;
    margin-left: 15px;
    border: 2px solid #2A9D8F;
  }

  .logOutBtn:hover {
    background-color: #2A9D8F;
    color: white;
  }

  .translateBtn{
    border-radius: 12%;
    padding: 10px;
    margin-top: 20px;
    margin-left: 10px;
    border: 2px solid #E76F51;
  }

  .translateBtn:hover{
    background-color: #E76F51;
    color: white;
  }


  /*H-tags*/
  .logInH1 {
    font-family:'Roboto';
    margin-top: 55px;   
  }

  .ProfileH1{
    font-family:'Roboto';
    margin-top: 55px;
  }

  .Orange{
    color: #E76F51;
  }

  .welcomeH1{
    font-family:'Roboto';
    margin-top: 55px;

  } 
  

  /*Fields*/
  .TranslateFieldOutput {
    padding: 40px;
    border: 2px solid #E76F51;
    border-radius: 4px;
  }

  .logInInputField{
    padding: 40px; 
  }

    /*Images*/
  .Orange2Img{
    width: 120px;
    height: 120px; 
    
  }

